
body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.25fr 0.5fr 1fr 0.5fr 50fr 2fr 1fr;
    grid-template-areas: 
    "nav nav nav"
    "header header header"
    ". intro ."
    "filter filter filter"
    "ctable ctable ctable"
    ". outro ."
    "footer footer footer";
}

nav {
    grid-area: nav;
}

#countriesHeader {
    grid-area: header;
    display: flex;
    flex-direction: row;
    justify-content:center;
    text-align: center;
}

#intro {
    grid-area: intro;
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
}

#countriesFilter {
    grid-area: filter;
    display: flex;
    flex-direction: row;
    justify-content:center;

}

#api-data {
    grid-area: ctable;
    display: flex;
    flex-direction: row;
    justify-content:center;
}

.endPara {
    grid-area: outro;
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
}

footer {
    grid-area: footer;
}
